:root {
  --main-color: #d35d6e;
}

* {
  font-family: "San Francisco";
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  line-height: 1.5;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: #fcf2e8;
  padding-left: 30rem;
}

section {
  padding: 1rem 5%;
  min-height: 100vh;
}

.heading {
  font-size: 4rem;
  padding-bottom: 1rem;
  color: #111;
  text-transform: uppercase;
}

.heading span {
  color: var(--main-color);
  text-transform: uppercase;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.8rem 3rem;
  background-color: var(--main-color);
  color: #fff;
  cursor: pointer;
  font-size: 1.7rem;
}

.btn:hover {
  background-color: #111;
  letter-spacing: 0.2rem;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background: #222;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  flex-flow: column;
  padding: 8rem 2rem;
  width: 30rem;
  text-align: center;
}

header .logo {
  text-transform: capitalize;
  color: rgb(255, 242, 242);
  font-size: 3rem;
  font-weight: 690;
}

header .logo span {
  text-transform: capitalize;
  color: var(--main-color);
}

header .navbar a {
  display: block;
  font-size: 2rem;
  color: #fff;
  margin: 2rem 0;
}

header .navbar a:hover {
  letter-spacing: 0.2rem;
  font-weight: 500;
  color: var(--main-color);
}

header .follow a {
  font-size: 2.5rem;
  color: #fff;
  margin: 0 0.7rem;
}

header .follow a:hover {
  color: var(--main-color);
}

#menu-bars {
  color: #fff;
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 10000;
  background-color: var(--main-color);
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  font-size: 3rem;
  cursor: pointer;
  display: none;
}

/* media query */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  body {
    padding: 0;
  }
  #menu-bars {
    display: initial;
  }
  header {
    left: -120%;
  }
  header.active {
    left: 0%;
  }
  .cursor-1,
  .cursor-2 {
    display: none;
  }
  .about .row-1 .image img {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
  }
  .home .image img {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 80%;
    height: 80%;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  header {
    width: 100%;
  }
  .experience .box-container .box {
    padding-right: 0;
  }
}

.cursor-1 {
  position: absolute;
  top: 0;
  left: 0;
  height: 1rem;
  width: 1rem;
  background-color: var(--main-color);
  pointer-events: none;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 10000;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.cursor-1.active {
  height: 7rem;
  width: 7rem;
  opacity: 0.3;
}

.cursor-2 {
  position: absolute;
  top: 0;
  left: 0;
  height: 4rem;
  width: 4rem;
  border: 0.1rem solid var(--main-color);
  pointer-events: none;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 10000;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: 0.3s linear;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -ms-transition: 0.3s linear;
  -o-transition: 0.3s linear;
}

.cursor-2.active {
  display: none;
}

.home {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.home .image {
  flex: 1 1 40rem;
}

.home .image img {
  width: 90%;
  height: 90%;
  object-fit: cover;
  border: 0.3rem solid #fff;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}
.home .image img:hover {
  transition: all 0.2s linear;
  box-shadow: blue 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px,
    rgb(31, 193, 27) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px,
    rgb(255, 217, 19) 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px,
    rgb(255, 156, 85) 30px -30px, rgb(255, 255, 255) 40px -40px 0px -3px,
    rgb(255, 85, 85) 40px -40px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}

.home .content {
  flex: 1 1 40rem;
}

.home .content .hi {
  font-size: 2rem;
  color: var(--main-color);
}

.home .content h3 {
  font-size: 4.5rem;
  text-transform: uppercase;
  color: #111;
}

.home .content h3 span {
  color: var(--main-color);
  text-transform: uppercase;
}

.home .content .info {
  font-size: 2.5rem;
  color: #111;
  padding: 0.5rem 0;
}

.home .content .text {
  font-size: 1.7rem;
  color: #666;
  padding: 0.5rem 0;
}

.about .row-1 {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  padding-bottom: 2rem;
}

.about .row-1 .image {
  flex: 1 1 25rem;
}

.about .row-1 .image img {
  width: 80%;
  border-radius: 0.4rem;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  -o-border-radius: 0.4rem;
}

.about .row-1 .content {
  flex: 1 1 50rem;
}

.hehehe {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.about .row-1 .content h3 {
  color: #333;
  font-size: 3.5rem;
}

.about .row-1 .content p {
  color: #666;
  font-size: 1.5rem;
  padding: 0.5rem 0;
}

.about .row-1 .content .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 0.5rem 0;
}

.about .row-1 .content .box-container .box {
  flex: 1 1 20rem;
}

.about .row-1 .content .box-container .box span {
  color: var(--main-color);
}

#kecil {
  text-transform: lowercase;
}

.about .row-2 {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: center;
}

.about .row-2 .skills {
  flex: 1 1 40rem;
}

.about .row-2 .skills .progress {
  padding: 1rem 0;
}

.about .row-2 .skills .progress h3 {
  display: flex;
  justify-content: space-between;
  padding: 0.7rem 0;
  font-size: 1.7rem;
  color: #111;
  font-weight: 400;
}

.about .row-2 .skills .progress .bar {
  width: 100%;
  overflow: hidden;
  background: #ccc;
  height: 1rem;
  border-radius: 50rem;
  -webkit-border-radius: 50rem;
  -moz-border-radius: 50rem;
  -ms-border-radius: 50rem;
  -o-border-radius: 50rem;
}

.about .row-2 .skills .progress .bar span {
  display: block;
  height: 100%;
  background: var(--main-color);
  border-radius: 50rem;
  -webkit-border-radius: 50rem;
  -moz-border-radius: 50rem;
  -ms-border-radius: 50rem;
  -o-border-radius: 50rem;
}

.about .row-2 .skills .progress:nth-child(1) .bar span {
  width: 95%;
}

.about .row-2 .skills .progress:nth-child(2) .bar span {
  width: 90%;
}

.about .row-2 .skills .progress:nth-child(3) .bar span {
  width: 85%;
}

.about .row-2 .skills .progress:nth-child(4) .bar span {
  width: 80%;
}

.about .row-2 .box-container {
  flex: 1 1 40rem;
}

.about .row-2 .box-container {
  flex: 1 1 40rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.about .row-2 .box-container .box {
  flex: 1 1 15rem;
  background: #fff;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.about .row-2 .box-container .box h3 {
  color: var(--main-color);
  font-size: 3rem;
}

.about .row-2 .box-container .box p {
  color: #666;
  font-size: 1.7rem;
  padding-top: 0.5rem;
}

.service .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.service .box-container .box {
  flex: 1 1 30rem;
  text-align: center;
  padding: 2rem;
  background: #fff;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.service .box-container .box i {
  width: 6rem;
  height: 6rem;
  line-height: 6rem;
  font-size: 2.5rem;
  color: #fff;
  background: var(--main-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.service .box-container .box h3 {
  color: #444;
  font-size: 2.2rem;
  padding-top: 1rem;
}

.service .box-container .box p {
  color: #666;
  font-size: 1.7rem;
  padding-top: 0.5rem;
}

.experience .box-container {
  display: flex;
  flex-wrap: wrap;
}

.experience .box-container .box {
  position: relative;
  flex: 1 1 33rem;
  border-left: 0.2rem solid var(--main-color);
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
}

.experience .box-container .box::before {
  content: "";
  position: absolute;
  top: 0;
  left: -1rem;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: var(--main-color);
}

.experience .box-container .box .content {
  background: #fff;
  padding: 1.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.experience .box-container .box .content span {
  color: #fff;
  font-size: 1.7rem;
  font-weight: 500;
  background: var(--main-color);
  border-radius: 50rem;
  padding: 0.4rem 1rem;
  -webkit-border-radius: 50rem;
  -moz-border-radius: 50rem;
  -ms-border-radius: 50rem;
  -o-border-radius: 50rem;
}

.experience .box-container .box .content h3 {
  font-size: 2.5rem;
  padding: 0.5rem 0;
  color: #111;
}

.experience .box-container .box .content p {
  font-size: 1.5rem;
  color: #666;
}

.portfolio .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.portfolio .box-container .box {
  flex: 1 1 30rem;
  height: 25rem;
  position: relative;
  overflow: hidden;
  border: 5px solid #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.portfolio .box-container .box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  position: relative;
  z-index: 1;
}

.portfolio .box-container .box:hover img {
  transform: scale(0.54);
  -webkit-transform: scale(0.54);
  -moz-transform: scale(0.54);
  -ms-transform: scale(0.54);
  -o-transform: scale(0.54);
}

.portfolio .box-container .box h3 {
  position: absolute;
  bottom: 0.5rem;
  left: 1rem;
  font-size: 2.5rem;
  color: #333;
  text-transform: uppercase;
}

.portfolio .box-container .box .icons {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.portfolio .box-container .box .icons a {
  display: block;
  height: 4rem;
  width: 4rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  background-color: #eee;
  color: #333;
  font-size: 1.7rem;
  line-height: 4rem;
  text-align: center;
  margin-bottom: 1rem;
}

.portfolio .box-container .box .icons a:hover {
  background: var(--main-color);
  color: #fff;
}

.contact .icons-container {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  padding-bottom: 2rem;
}

.contact .icons-container .icons {
  flex: 1 1 25rem;
  text-align: center;
  padding: 2rem;
  background: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.contact .icons-container .icons i {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  background: var(--main-color);
  color: #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.contact .icons-container .icons h3 {
  color: #111;
  font-size: 2rem;
  padding: 0.5rem 0;
}

.contact .icons-container .icons p {
  color: #666;
  font-size: 1.7rem;
}

.contact .row {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.contact .row form {
  flex: 1 1 55rem;
  background: #fff;
  padding: 0 2rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.contact .row form .box,
.contact .row form textarea {
  width: 100%;
  border-bottom: 0.1rem solid #333;
  color: #333;
  text-transform: none;
  font-size: 1.7rem;
  padding: 1rem 0;
  margin: 1rem 0;
}

.contact .row form .box:focus .contact .row form textarea:focus {
  border-color: var(--main-color);
}

.contact .row form .box::placeholder,
.contact .row form textarea::placeholder {
  text-transform: capitalize;
}

.contact .row form textarea {
  height: 20rem;
  resize: none;
}

.contact .row form .btn {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

footer {
  margin-top: 2rem;
  font-size: 2rem;
  padding: 2.5rem;
  text-align: center;
  color: #666;
  background: #fff;
}

footer span a {
  color: var(--main-color);
}

.kecilin {
  text-transform: lowercase;
}
